nodered-workflow-dvere
[{"id":"a3fcdc01.5cd2d8","type":"tail","z":"a0763c4.8ebebc","name":"","filetype":"text","split":true,"filename":"/tmp/rfid_UID.txt","x":137.5,"y":63.5,"wires":[["eb957257.b2e918"]]},{"id":"eb957257.b2e918","type":"switch","z":"a0763c4.8ebebc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0x45,0x37,0xe3,0x52","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":355.5,"y":62.5,"wires":[["4987a9f1.988d3"],["10e18d00.a927ab"]]},{"id":"4987a9f1.988d3","type":"debug","z":"a0763c4.8ebebc","name":"","active":true,"console":"false","complete":"payload","x":713,"y":52,"wires":[]},{"id":"10e18d00.a927ab","type":"template","z":"a0763c4.8ebebc","name":"ERROR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Unautorized ID card: {{payload}} !","x":523.5,"y":126.5,"wires":[["4987a9f1.988d3"]]}]
