nodered-workflow-dvere
[{"id":"a3fcdc01.5cd2d8","type":"tail","z":"a0763c4.8ebebc","name":"","filetype":"text","split":true,"filename":"/tmp/rfid_UID.txt","x":137.5,"y":63.5,"wires":[["e0f96778.90f518","eb957257.b2e918"]]},{"id":"e0f96778.90f518","type":"debug","z":"a0763c4.8ebebc","name":"","active":false,"console":"false","complete":"true","x":838.5,"y":96,"wires":[]},{"id":"eb957257.b2e918","type":"switch","z":"a0763c4.8ebebc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0x45,0x37,0xe3,0x52","vt":"str"}],"checkall":"true","outputs":1,"x":393.5,"y":141.5,"wires":[["4987a9f1.988d3"]]},{"id":"4987a9f1.988d3","type":"debug","z":"a0763c4.8ebebc","name":"","active":true,"console":"false","complete":"true","x":544,"y":148,"wires":[]}]
